In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [3]:
normal_sample = np.random.normal(loc=0.0, scale=1.0, size=10000)
random_sample = np.random.random(size=10000)
gamma_sample = np.random.gamma(2, size=10000)

df = pd.DataFrame({
    'normal': normal_sample,
    'random': random_sample,
    'gamma': gamma_sample
})
df

        normal    random     gamma
0    -1.688636  0.976333  2.157982
1     3.254810  0.993260  1.300924
2    -0.473733  0.485779  2.290089
3    -0.667252  0.354604  1.260201
4    -0.198571  0.901303  2.083463
...        ...       ...       ...
9995  0.587602  0.609753  1.984985
9996 -0.106496  0.467999  3.599291
9997  1.176535  0.020648  0.819590
9998  0.091051  0.714505  3.986031
9999 -0.183790  0.680974  0.571659

[10000 rows x 3 columns]

In [4]:
df.describe()

             normal        random         gamma
count  10000.000000  10000.000000  10000.000000
mean       0.012245      0.499109      1.985601
std        0.999388      0.289930      1.398504
min       -4.023522      0.000266      0.022812
25%       -0.644623      0.246160      0.968142
50%        0.020138      0.502615      1.655447
75%        0.682218      0.750138      2.668361
max        4.416123      0.999906     12.112703